# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python build files
*.egg-info/
dist/
build/

# Environment variables
.env

# Dataset archives
*.zip